.footer
    &__info
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__button
        text-decoration: none
        position: relative
        margin-bottom: 27px
    &__copyright
        margin-bottom: 34px
