.shop
	&__losung
		transform: translateX(-70px)
		margin-bottom: 14px
	&__slider-item
		&:not(.swiper-slide-active)
			opacity: 0
	&__slider-arrows
		position: absolute
		right: 80px
		top: -50px

.shop-slide
	background-repeat: no-repeat
	background-position: right center
	&__product 
		display: grid
		grid-template-columns: minmax( 400px, auto) auto auto
		justify-content: space-between
	&__product-description
		padding-left: 133px
		margin-right: 90px
		align-self: center
	&__location-title
		margin-bottom: 23px
		max-width: 340px
		line-height: 46px
	&__product-rating
		display: flex
		margin-bottom: -7px
	&__product-star
		margin-left: -22px
		&:first-child
			margin-left: -14px
	&__product-info 
		display: flex
		margin-right: 138px
	&__product-photo
		position: relative
	&__surfboard
		width: 280px
		max-width: 230px
		height: 695px
	&__product-description-point-toright 
		position: absolute
	&__product-description-point-toleft
		position: absolute
	&__product-description-point-toright
		.shop-slide__product-description-text
			padding-left: 104px
			&::before
				left: 30px
				top: 50%
	&__product-description-point-toleft
		.shop-slide__product-description-text
			position: absolute
			text-align: end
			left: -367px
			padding-right: 104px
			&::before
				right: 10px
				top: 50%
	&__product-description-point--1
		top: 202px
		right: 36px
	&__product-description-point--2
		top: 295px
		left: -5px
	&__product-description-point--3
		bottom: 65px
		left: 53px
	&__product-description-point--21
		top: 230px
		right: 111px
	&__product-description-point--22
		top: 335px
		left: 55px
	&__product-description-point--23
		bottom: 55px
		left: 98px
	&__product-description-wrapper
		position: absolute
		display: flex
		height: 100%
		align-items: center
	&__product-description-circle
		position: relative
		cursor: pointer
		width: 20px
		height: 20px
		background-color: $white
		border-radius: 50%
		transition: 0.3s
		&:hover
			transition: 0.3s
			background-color: rgba(#000, 0.4)
	&__product-description-text
		display: none
		width: 260px
		transition: 0.3s
		&::before
			transition: 0.3s
			content: ''
			position: absolute
			width: 80px
			height: 1px
			background-color: $white
			opacity: 0.5
	&__extra-products
		margin-right: 80px
		align-self: flex-end
	&__product-price
		margin-bottom: 72px
		display: flex
		.shop-slide__product-price--coins
			align-self: flex-start
			justify-self: flex-end
			font-size: 18px
			margin-left: 5px
	&__buy-button
		position: relative
		width: 112px
		margin: 0 auto
		&:hover
			.logo-gorizontal__active
				right: 170px
			.logo-gorizontal__static
				&::before
					left: -7%

.active-product-point
	transition: 0.3s
	.shop-slide__row
		transition: 0.3s
		&:last-of-type
			transform: translate(-50%, -50%) rotate(0deg)

.shop-slide__product-description-circle.active-product-point + .shop-slide__product-description-text
	transition: 0.3s
	display: flex

.shop-slide__row
	transition: 0.3s
	position: absolute
	background-color: $accent
	width: 12px
	height: 2px
	top: 50%
	left: 50%
	transform: translate(-50%, -50%) rotate(0deg)
	@include none-event
	&:last-of-type
		transform: translate(-50%, -50%) rotate(90deg)
