@import "vars"

//FOR ALL
@media only screen and (max-width : 768px)
	.animate__animated, .wow, .animate__fadeInRight, .animate__fadeInLeft
		transition-property: none !important
		animation: none !important
		transform: translate3d(0, 0, 0)
		// transform: none !important
		animation-name: none !important
		transition: none !important
		// visibility: visible !important
	.section-losung-block
		justify-content: center
		transform: translateX(0)
		margin-bottom: 60px
		.section-losung-block__bg-losung
			font-size: 110px !important
		.section-losung-block__main-title
			display: none
	.surf, .travel
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center !important
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center !important
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none
@media only screen and (max-width : 768px)
	.surf, .travel, .sleep, .shop
		.section-losung-block__bg-losung
			font-size: 76px !important
		.section-title-block-right__top-text
			font-size: 20px
		.section-title-block-right__bottom-text	
			font-size: 26px
		.section-title-block-left__top-text
			font-size: 20px
		.section-title-block-left__bottom-text	
			font-size: 30px
		.vertical-text-block__vertical
			font-size: 20px
		.vertical-text-block__gorizontal
			font-size: 30px 
@media only screen and (max-width : 450px)
	.surf, .travel, .sleep
		.section-losung-block__bg-losung
			font-size: 62px !important
		.section-title-block-right__top-text
			font-size: 22px
		.section-title-block-right__bottom-text	
			font-size: 18px
		.section-title-block-left__top-text
			font-size: 22px
		.section-title-block-left__bottom-text	
			font-size: 18px
		.vertical-text-block__vertical
			font-size: 16px
		.vertical-text-block__gorizontal
			font-size: 26px 

//HEADER-MAP
@media only screen and (max-height : 940px), screen and (max-width : 1280px)
	.header__map
		svg 
			height: 480px
			width: 700px
@media only screen and (max-width : 590px), screen and (max-height : 850px)
	.header__map
		svg 
			height: 320px
			width: 510px
@media only screen and (max-width : 470px), screen and (max-height : 730px)	
	.header__map
		svg 
			height: 280px
			width: 380px
@media only screen and (max-width : 370px), screen and (max-height : 670px)	
	.header__map
		svg 
			display: none

//HEADER
@media only screen and (max-width : 1320px)
	.header__slider-paggination
		max-width: 620px
	.header__slider-bullet
		max-width: 140px
@media only screen and (max-width : 980px), screen and (max-height : 520px)	
	.header__arrows-down
		display: none
	.header__losung
		display: none
	.header__slider-arrows
		right: 40px
	.slider-item__info
		right: 40px
	.header__slider-paggination
		right: 40px
@media only screen and (max-width : 700px), screen and (max-height : 520px)	
	.header__slider-paggination
		justify-content: flex-end
	.header__slider-bullet
		justify-content: flex-end
		max-width: 100px
		margin-right: 15px
	.header__slider-bullet-number
		display: none
@media only screen and (max-width : 590px), screen and (max-height : 520px)	
	.header__slider-paggination
		flex-direction: column
		max-width: 100px
		right: 20px
	.header__slider-bullet
		width: 100%
		margin-bottom: 60px
		margin-right: 0
		&:last-child
			margin-bottom: 0
	.slider-item__info
		right: 150px
		bottom: 38px
	.slider-item__title 
		margin-bottom: 10px
@media only screen and (max-width : 450px), screen and (max-height : 520px)	
	.header__slider-paggination
		max-width: 14px
		height: min-content
		top: 50%
		transform: translateY(-50%)
	.header__slider-bullet
		height: auto
		width: 100%
		margin-bottom: 20px
		border-top: 14px solid rgba(255,255,255,.5)
	.header__slider-bullet--active
		border-color: $accent
	.header__slider-bullet-name
		display: none
	.slider-item__info
		right: 60px
@media only screen and (max-width : 360px), screen and (max-height : 520px)	
	.header__slider-item
		.slider-item__info
			.section-title-block-right__top-text
				&::before
					content: none
	.slider-item__bullet-title
		font-size: 60px
		line-height: 64px
@media only screen and (max-height : 380px)
	.header__slider-item
		.slider-item__info
			.slider-item__subtitle
				margin-bottom: 10px
			.section-title-block-right__top-text
				margin-bottom: 0

//ASIDE MENU
@media only screen and (max-height : 910px)
	.aside__event-date
		margin-bottom: 15px
		.event-date__day
			font-size: 50px
		.event-date__mounth-year
			margin-top: 0
		.event-date__space
			margin: 0 2px
		.event-date__location
			margin-top: 15px
@media only screen and (max-height : 845px), screen and (max-width : 980px)
	.aside__logo
		width: 100px
		height: 105px
		.logo-vertical__static
			font-size: 30px
		.logo-vertical__active
			font-size: 30px
			top: -10px
		&:hover
			.logo-vertical__static
				&::before
					left: -25%
					top: 50%
			.logo-vertical__active
				top: 100px
@media only screen and (max-height : 740px)
	.navigation
		margin-bottom: 15px
		&__item
			margin-bottom: 0
		&__link
			height: 50px
			justify-content: space-evenly
		&__item-img 
			display: none
@media only screen and (max-height : 530px)
	.aside__navigation
		border-top: 1px solid $gray
		border-bottom: 1px solid $gray
		height: 100px
		overflow-y: scroll
	.aside__navigation::-webkit-scrollbar-track
		background-color: $gray
	.aside__navigation::-webkit-scrollbar
		width: 6px
		background-color: $gray
	.aside__navigation::-webkit-scrollbar-thumb
		background-color: $accent
	.aside__search
		margin-bottom: 5px
@media only screen and (max-height : 430px)
	.aside__event-date
		.event-date__hidden-line-date
			margin-top: 10px
			display: block
		.event-date__day
			display: none
		.event-date__mounth-year
			display: none
		.event-date__location
			margin-top: 8px
@media only screen and (max-height : 355px)
	.aside__logo
		height: 60px
		.logo-vertical__static
			font-size: 24px
			transform: rotate(0deg)
		.logo-vertical__active
			font-size: 28px
		&:hover
			.logo-vertical__static
				&::before
					content: none
			.logo-vertical__active
				top: 45px

//SURF-MAP
@media only screen and (max-width : 1500px)
	.surf__location-title
		margin-bottom: 50px
	.surf__slider-map 
		max-width: 720px
		min-height: 380px
	.map-dot--1
		top: 190px
		left: 0
	.map-dot--2
		top: 161px
		left: 61px
	.map-dot--3
		top: 190px
		left: 147px
	.map-dot--4
		top: 297px
		left: 164px
	.map-dot--5
		top: 125px
		left: 232px
	.map-dot--6
		top: 321px
		left: 255px
	.map-dot--7
		top: 221px
		left: 337px
	.map-dot--8
		top: 290px
		left: 462px
@media only screen and (max-width : 1070px)
	.surf__shuffle-buttons
		padding: 30px 10px
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(110px, max-content))
		justify-content: center
		margin: 0 auto 60px auto
		.surf__shuffle-button
			background-color: black
			color: $white
			border: none
			outline: none
			padding: 30px 15px
	.surf__slider-map 
		background-image: none !important
		max-width: 100%
		margin: 0 30px
		min-height: auto
	.map-dot
		position: inherit
		&::before
			content: none
	.map-dot__categories-row
		margin-bottom: 30px
	.map-dot__geolocation
		display: block
	.map-dot__circle
		display: none
	.surf__map-dots
		display: grid
		grid-gap: 20px
		justify-items: center
		justify-content: center
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
	.map-dot__content
		transform: translateX(0)
		width: 283px
		min-height: 216px
		display: flex !important
		padding: 28px 32px 31px 32px
		flex-direction: column
		box-sizing: border-box
		justify-content: space-between
		background: rgba(#0F1010, 0.7)
		border-radius: 6px
		margin: 0
	.map-dot--active
		.map-dot__content
			position: inherit
			margin-bottom: 0
			transform: translateX(0)

//SURF
@media only screen and (max-width : 940px)
	.surf
		.container
			background-image: none !important

	.surf__slider-arrows
		width: fit-content
		right: 0
		left: 50%
		margin-right: -50%
		transform: translate(-50%, -50%)
		column-gap: 80px
		top: 100px
@media only screen and (max-width : 768px)
	.surf
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center !important
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center !important
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none
@media only screen and (max-width : 560px)
	.surf-slide__button
		margin-right: 0
@media only screen and (max-width : 420px)
	.surf__location-title
		.subtitle-lineleft-22-400-gray
			font-size: 16px
		.title-40-800-white
			font-size: 32px

//TRAVEL
@media only screen and (max-width : 1420px)
	.travel-slide__plane-image
		top: 70%
		transform: translate(0, -70%) !important
@media only screen and (max-width : 1180px)
	.travel-slide__flight-categories
		.travel-slide__category
			flex-direction: column
			.vertical-text-block__vertical
				writing-mode: unset
				transform: rotate(360deg)
@media only screen and (max-width : 1080px)
	.travel-slide__fly-companies
		margin-bottom: 55px
	.travel-slide__flight-categories	
		display: grid
		row-gap: 40px
		grid-template-columns: auto auto
@media only screen and (max-width : 768px)
	.travel
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center !important
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center !important
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none
	.travel-slide__flight-categories	
		grid-template-columns: auto
	.travel-slide__category
		align-items: center
	.travel-slide__flight-position
		margin: 0
	.travel-slide__fly-companies
		padding: 0
		justify-content: center
		margin-bottom: 55px
	.travel-slide__companie-info
		flex-direction: column
	.travel-slide__plane-logo
		margin-top: 15px
	.travel-slide__flight-name
		display: flex
		flex-direction: column
		align-items: center
	.travel__slider-arrows
		width: fit-content
		right: 0
		left: 50%
		margin-right: -50%
		transform: translate(-50%, -50%)
		column-gap: 80px
		z-index: 20
		top: 120px
@media only screen and (max-width : 560px)
	.travel-slide__flight-info
		background-image: none !important
	.travel-slide__button
		float: right
		width: 160px
		font-size: 32px
		&:hover
			.logo-gorizontal__active
				right: 210px !important
			.logo-gorizontal__static
				&::before
					left: -22% !important

//SLEEP
@media only screen and (max-width : 980px)
	.sleep-slide__hotel-item-image
		display: none
		
@media only screen and (max-width : 1180px)
	.sleep-slide__flight-categories
		.sleep-slide__category
			flex-direction: column
			.vertical-text-block__vertical
				writing-mode: unset
				transform: rotate(360deg)
@media only screen and (max-width : 1080px)
	.sleep-slide__fly-companies
		margin-bottom: 55px
	.sleep-slide__flight-categories
		display: grid
		row-gap: 40px
		grid-template-columns: auto auto
@media only screen and (max-width : 768px)
	.sleep
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center !important
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center !important
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none
	.sleep-slide__flight-categories	
		grid-template-columns: auto
	.sleep-slide__category
		align-items: center
	.sleep-slide__flight-position
		margin: 0
	.sleep-slide__fly-companies
		padding: 0
		justify-content: center
		margin-bottom: 55px
	.sleep-slide__companie-info
		flex-direction: column
	.sleep-slide__plane-logo
		margin-top: 15px
	.sleep-slide__flight-name
		display: flex
		flex-direction: column
		align-items: center
	.sleep__slider-arrows
		width: fit-content
		right: 0
		left: 50%
		margin-right: -50%
		transform: translate(-50%, -50%)
		column-gap: 80px
		z-index: 20
		top: 120px
@media only screen and (max-width : 560px)
	.sleep-slide__flight-info
		background-image: none !important
	.sleep-slide__button
		float: right
		width: 125px
		font-size: 32px
		&:hover
			.logo-gorizontal__active
				right: 175px !important
			.logo-gorizontal__static
				&::before
					left: -31% !important

//SHOP
@media only screen and (max-width : 1780px)
	.shop-slide__product-description-text
		width: 210px !important
		background-color: rgba(black, 0.7)
		color: $accent
		min-height: 35px
		height: 100%
		padding: 10px !important
		transform: translate(-53%, -80%)
		position: relative !important
		padding: 10px
		left: 0 !important
		right: 0 !important
		align-items: center
		text-align: center
		font-size: 16px
		&::before
			content: none !important
@media only screen and (max-width : 1390px)
	.shop-slide__extra-products
		text-align: center
		align-self: center
	.shop-slide__product-info
		margin-right: 80px
	.extra-products__products
		flex-direction: column
	.extra-item
		margin-left: 0
		margin-right: 0
		&:last-child
			margin-bottom: 0
@media only screen and (max-width : 950px)
	.shop__slider-arrows
		top: 20px
		z-index: 100
	.shop-slide__product
		grid-template-columns: 1fr 1fr
		grid-template-rows: auto auto
	.shop-slide__product-description
		grid-row: 1/1
		grid-column: 1/3
	.shop-slide__product-info
		margin-right: 0
		justify-self: end
	.shop-slide__product-price
		margin-bottom: 20px
	.shop-slide__product-description
		margin-bottom: 50px
	.shop-slide__buy-button
		float: right
@media only screen and (max-width : 680px)
	.section-title-block-left
		padding-right: 25px
	.shop__slider-arrows
		width: fit-content
		right: 0
		left: 50%
		top: -50px
		margin-right: -50%
		transform: translate(-50%, -50%)
		column-gap: 80px
	.shop-slide__product
		grid-template-columns: 1fr 
		grid-template-rows: auto auto auto
	.shop-slide__product-description
		padding-left: 25px
		margin-right: 0
	.shop-slide__product-info
		grid-row: 2/3
		justify-self: center
		margin-bottom: 60px
		margin-right: 0
	.shop-slide__extra-products
		grid-row: 3/3
		margin-right: 0
	.shop-slide__product-description-point-toright
		display: none
	.shop-slide__product-description-point-toleft
		display: none
