@import "vars"

//FOR ALL
@media only screen and (max-width : 1070px)
	.animate__animated, .wow, .animate__fadeInRight, .animate__fadeInLeft, .animate__zoomIn
		transition-property: none !important
		animation: none !important
		transform: translate3d(0, 0, 0)
		animation-name: none !important
		transition: none !important
@media only screen and (max-width : 768px)
	.section-losung-block
		justify-content: center
		transform: translateX(0)
		margin-bottom: 60px
		&__bg-losung
			font-size: 110px 
		&__main-title
			display: none
	.surf, .travel
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center 
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center 
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none
	.surf, .travel, .sleep, .shop
		.section-losung-block__bg-losung
			font-size: 76px 
		.section-title-block-right__top-text
			font-size: 20px
		.section-title-block-right__bottom-text	
			font-size: 26px
		.section-title-block-left__top-text
			font-size: 20px
		.section-title-block-left__bottom-text	
			font-size: 30px
		.vertical-text-block__vertical
			font-size: 20px
		.vertical-text-block__gorizontal
			font-size: 30px 

@media only screen and (max-width : 450px)
	.surf, .travel, .sleep
		.section-losung-block__bg-losung
			font-size: 62px 
		.section-title-block-right__top-text
			font-size: 22px
		.section-title-block-right__bottom-text	
			font-size: 18px
		.section-title-block-left__top-text
			font-size: 22px
		.section-title-block-left__bottom-text	
			font-size: 18px
		.vertical-text-block__vertical
			font-size: 16px
		.vertical-text-block__gorizontal
			font-size: 26px 

//HEADER-MAP
@media only screen and (max-height : 940px), screen and (max-width : 1280px)
	.header
		&__map
			svg 
				height: 480px
				width: 700px

@media only screen and (max-width : 590px), screen and (max-height : 850px)
	.header
		&__map
			svg 
				height: 320px
				width: 510px

@media only screen and (max-width : 470px), screen and (max-height : 730px)	
	.header
		&__map
			svg 
				height: 280px
				width: 380px

@media only screen and (max-width : 370px), screen and (max-height : 670px)	
	.header
		&__map
			svg 
				display: none

//HEADER
@media only screen and (max-width : 1320px)
	.header
		&__slider-paggination
			max-width: 620px
		&__slider-bullet
			max-width: 140px
@media only screen and (max-width : 980px), screen and (max-height : 520px)	
	.header
		&__arrows-down
			display: none
		&__losung
			display: none
		&__slider-arrows
			right: 40px
		&__slider-paggination
			right: 40px
	.slider-item
		&__info
			right: 40px
@media only screen and (max-width : 700px), screen and (max-height : 520px)	
	.header
		&__slider-paggination
			justify-content: flex-end
		&__slider-bullet
			justify-content: flex-end
			max-width: 100px
			margin-right: 15px
		&__slider-bullet-number
			display: none
@media only screen and (max-width : 590px), screen and (max-height : 520px)	
	.header
		&__slider-paggination
			flex-direction: column
			max-width: 100px
			right: 20px
		&__slider-bullet
			width: 100%
			margin-bottom: 60px
			margin-right: 0
			&:last-child
				margin-bottom: 0
	.slider-item
		&__info
			right: 150px
			bottom: 38px
		&__title 
			margin-bottom: 10px
@media only screen and (max-width : 450px), screen and (max-height : 520px)	
	.header
		&__slider-paggination
			max-width: 14px
			height: fit-content
			top: 0
			bottom: 0 !important
			margin: auto 0
			transform: translateY(0%)
		&__slider-bullet
			height: auto
			width: 100%
			margin-bottom: 20px
			border-top: 14px solid rgba(255,255,255,.5)
		&__slider-bullet--active
			border-color: $accent
		&__slider-bullet-name
			display: none
	.slider-item
		&__info
			right: 60px
@media only screen and (max-width : 360px), screen and (max-height : 520px)	
	.header
		&__slider-item
			.slider-item
				&__info
					.section-title-block-right
						&__top-text
							&::before
								content: none
	.slider-item
		&__bullet-title
			font-size: 60px
			line-height: 64px
@media only screen and (max-height : 380px)
	.header
		&__slider-arrows
			top: 15px
		&__slider-item
			.slider-item
				&__info
					bottom: 10px
			.slider-item
				&__subtitle
					margin-bottom: 10px
			.section-title-block-right
				&__top-text
					margin-bottom: 0

//ASIDE MENU
@media only screen and (max-height : 910px)
	.aside
		&__event-date
			margin-bottom: 15px
		.event-date
			&__day
				font-size: 50px
			&__mounth-year
				margin-top: 0
			&__space
				margin: 0 2px
			&__location
				margin-top: 15px
@media only screen and (max-height : 845px), screen and (max-width : 980px)
	.aside__logo
		width: 100px
		height: 105px
		.logo-vertical
			&__static
				font-size: 30px
			&__active
				font-size: 30px
				top: -10px
		&:hover
			.logo-vertical
				&__static
					&::before
						left: -25%
						top: 50%
				&__active
					top: 100px
@media only screen and (max-height : 740px)
	.navigation
		margin-bottom: 15px
		&__item
			margin-bottom: 0
		&__link
			height: 50px
			justify-content: space-evenly
		&__item-img 
			display: none
@media only screen and (max-height : 530px)
	.aside
		&__navigation
			border-top: 1px solid $gray
			border-bottom: 1px solid $gray
			height: 100px
			overflow-y: scroll
		&__navigation::-webkit-scrollbar-track
			background-color: $gray
		&__navigation::-webkit-scrollbar
			width: 6px
			background-color: $gray
		&__navigation::-webkit-scrollbar-thumb
			background-color: $accent
@media only screen and (max-height : 430px)
	.aside
		.event-date
			&__hidden-line-date
				margin-top: 10px
				display: block
			&__day
				display: none
			&__mounth-year
				display: none
			&__location
				margin-top: 8px
@media only screen and (max-height : 355px)
	.aside__logo
		height: 60px
		.logo-vertical
			&__static
				font-size: 24px
				transform: rotate(0deg)
			&__active
				font-size: 28px
		&:hover
			.logo-vertical
				&__static
					&::before
						content: none
				&__active
					top: 45px

//SURF-MAP
@media only screen and (max-width : 1500px)
	.surf
		&__location-title
			margin-bottom: 50px
		&__slider-map 
			max-width: 720px
			min-height: 380px
	.map-dot--1
		top: 190px
		left: 0
	.map-dot--2
		top: 161px
		left: 61px
	.map-dot--3
		top: 190px
		left: 147px
	.map-dot--4
		top: 297px
		left: 164px
	.map-dot--5
		top: 125px
		left: 232px
	.map-dot--6
		top: 321px
		left: 255px
	.map-dot--7
		top: 221px
		left: 337px
	.map-dot--8
		top: 290px
		left: 462px

@media only screen and (max-width : 1070px)
	.surf
		&__shuffle-buttons
			padding: 30px 10px
			display: grid
			grid-template-columns: repeat(auto-fit, minmax(110px, max-content))
			justify-content: center
			margin: 0 auto 60px auto
			.surf__shuffle-button
				background-color: black
				color: $white
				border: none
				outline: none
				padding: 30px 15px
		&__slider-map 
			background-image: none !important
			max-width: 100%
			margin: 0 30px
			min-height: auto
		&__map-dots
			display: grid
			grid-gap: 20px
			justify-items: center
			justify-content: center
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
	.map-dot
		position: inherit
		&::before
			content: none
		&__categories-row
			margin-bottom: 30px
		&__geolocation
			display: block
		&__circle
			display: none
		&__content
			transform: translateX(0)
			width: 283px
			min-height: 216px
			display: flex !important
			padding: 28px 32px 31px 32px
			flex-direction: column
			box-sizing: border-box
			justify-content: space-between
			background: rgba(#0F1010, 0.7)
			border-radius: 6px
			margin: 0
		&--active
			.map-dot
				&__content
					position: inherit
					margin-bottom: 0
					transform: translateX(0)

//SURF
@media only screen and (max-width : 940px)
	.surf
		.container
			background-image: none !important
			
@media only screen and (max-width : 768px)
	.surf
		&__slider-arrows
			width: fit-content
			right: 0
			left: 50%
			margin-right: -50%
			transform: translate(-50%, -50%)
			column-gap: 80px
			top: 100px
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none

@media only screen and (max-width : 560px)
	.surf-slide
		&__button
			margin-right: 0

@media only screen and (max-width : 420px)
	.surf
		&__location-title
			.subtitle-lineleft-22-400-gray
				font-size: 16px
			.title-40-800-white
				font-size: 32px

//TRAVEL
@media only screen and (max-width : 1420px)
	.travel-slide
		&__plane-image
			top: 70%
			transform: translate(0, -70%) !important

@media only screen and (max-width : 1180px)
	.travel-slide
		&__category
			flex-direction: column
			.vertical-text-block__vertical
				writing-mode: unset
				transform: rotate(360deg)

@media only screen and (max-width : 1080px)
	.travel-slide
		&__fly-companies
			margin-bottom: 55px
		&__flight-categories	
			display: grid
			row-gap: 40px
			grid-template-columns: auto auto

@media only screen and (max-width : 768px)
	.travel
		&__slider-arrows
			width: fit-content
			right: 0
			left: 50%
			margin-right: -50%
			transform: translate(-50%, -50%)
			column-gap: 80px
			z-index: 20
			top: 120px
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none
	.travel-slide
		&__flight-categories	
			grid-template-columns: auto
		&__category
			align-items: center
		&__flight-position
			margin: 0
		&__fly-companies
			padding: 0
			justify-content: center
			margin-bottom: 55px
		&__companie-info
			flex-direction: column
		&__plane-logo
			margin-top: 15px
		&__flight-name
			display: flex
			flex-direction: column
			align-items: center
		&__flight-info
			padding-bottom: 0
@media only screen and (max-width : 560px)
	.travel-slide
		&__flight-info
			background-image: none !important
		&__button
			float: right
			// width: 160px
			// &:hover
			// 	.logo-gorizontal
			// 		&__active
			// 			right: 210px !important
			// 		&__static
			// 			&::before
			// 				left: -22% !important

//SLEEP
@media only screen and (max-width : 980px)
	.sleep-slide__hotel-item-image
		display: none
		
@media only screen and (max-width : 1180px)
	.sleep-slide
		&__category
			flex-direction: column
			.vertical-text-block__vertical
				writing-mode: unset
				transform: rotate(360deg)

@media only screen and (max-width : 1080px)
	.sleep-slide
		&__fly-companies
			margin-bottom: 55px
		&__flight-categories
			display: grid
			row-gap: 40px
			grid-template-columns: auto auto

@media only screen and (max-width : 768px)
	.sleep
		&__slider-arrows
			width: fit-content
			right: 0
			left: 50%
			margin-right: -50%
			transform: translate(-50%, -50%)
			column-gap: 80px
			z-index: 20
			top: 120px
		.section-title-block-right
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineleft-22-400-gray
				align-items: center
			.subtitle-lineleft-22-400-gray
				padding: 0
				&::before
					content: none
		.section-title-block-left
			padding: 0
			position: relative
			margin: 0 auto
			width: fit-content
			align-items: center
			.subtitle-lineright-22-400-gray
				align-items: center
			.subtitle-lineright-22-400-gray
				padding: 0
				&::after
					content: none
	.sleep-slide
		&__flight-categories	
			grid-template-columns: auto
		&__category
			align-items: center
		&__flight-position
			margin: 0
		&__fly-companies
			padding: 0
			justify-content: center
			margin-bottom: 55px
		&__companie-info
			flex-direction: column
		&__plane-logo
			margin-top: 15px
		&__flight-name
			display: flex
			flex-direction: column
			align-items: center
		&__flight-info
			padding-bottom: 0

@media only screen and (max-width : 560px)
	.sleep-slide
		&__flight-info
			background-image: none !important
		&__button
			float: right
			width: 125px
			font-size: 32px
			&:hover
				.logo-gorizontal
					&__active
						right: 175px !important
					&__static
						&::before
							left: -31% !important

//SHOP
@media only screen and (max-width : 1780px)
	.shop-slide
		&__product-description-text
			width: 210px 
			background-color: rgba(black, 0.7)
			color: $accent
			min-height: 35px
			height: 100%
			padding: 10px !important
			transform: translate(-53%, -80%)
			position: relative !important
			padding: 10px
			left: 0 !important
			right: 0 !important
			align-items: center
			text-align: center !important
			font-size: 16px
			&::before
				content: none !important
@media only screen and (max-width : 1390px)
	.shop-slide
		&__extra-products
			text-align: center
			align-self: center
		&__product-info
			margin-right: 80px
	.extra-products
		&__products
			flex-direction: column
	.extra-item
		margin-left: 0
		margin-right: 0
		&:last-child
			margin-bottom: 0
@media only screen and (max-width : 950px)
	.extra-item
		margin: 0 auto !important
	.shop
		&__slider-arrows
			top: 20px
			z-index: 100
	.shop-slide
		&__product
			grid-template-columns: 1fr 1fr
			grid-template-rows: auto auto
		&__product-description
			grid-row: 1/1
			grid-column: 1/3
		&__product-info
			margin-right: 0
			justify-self: end
		&__product-price
			margin-bottom: 20px
		&__product-description
			margin-bottom: 50px
		&__buy-button
			float: right

@media only screen and (max-width : 680px)
	.section-title-block-left
		padding-right: 25px
	.shop
		&__slider-arrows
			width: fit-content
			right: 0
			left: 50%
			top: -50px
			margin-right: -50%
			transform: translate(-50%, -50%)
			column-gap: 80px
	.shop-slide
		&__product
			grid-template-columns: 1fr 
			grid-template-rows: auto auto auto
		&__product-description
			padding-left: 25px
			margin-right: 0
		&__product-info
			grid-row: 2/3
			justify-self: center
			margin-bottom: 60px
			margin-right: 0
		&__extra-products
			grid-row: 3/3
			margin-right: 0
		&__product-description-point-toright
			display: none
		&__product-description-point-toleft
			display: none
