html
	scroll-behavior: smooth
	box-sizing: border-box
*, *::after, *::before
	box-sizing: inherit

$accent: #4AF6CD
$white: #FFFFFF
$gray: rgba(255, 255, 255, 0.5)
$light-gray: rgba(255, 255, 255, 0.1)
$fontFira: 'FiraSans', sans-serif

@mixin text($font-size, $font-weight, $line-height: inherit)
	font-family: $fontFira
	color: $white
	font-size: $font-size
	font-weight: $font-weight
	line-height: $line-height

@mixin text-uppercase-light-gray($font-size, $font-weight, $line-height: inherit)
	font-size: $font-size
	line-height: $line-height
	font-weight: $font-weight
	font-family: $fontFira
	text-transform: uppercase
	color: $light-gray

@mixin text-uppercase-white($font-size, $font-weight, $line-height: inherit)
	font-size: $font-size
	line-height: $line-height
	font-weight: $font-weight
	font-family: $fontFira
	text-transform: uppercase
	color: $white

@mixin text-uppercase-gray($font-size, $font-weight, $line-height: inherit)
	font-size: $font-size
	line-height: $line-height
	font-weight: $font-weight
	font-family: $fontFira
	text-transform: uppercase
	color: $gray

@mixin none-event
	pointer-events: none
	backface-visibility: hidden

body
	font-family: $fontFira
	background-color: #171919
	overflow-x: hidden

@keyframes road-animation
	100%
		stroke-dashoffset: 0

@keyframes width
	0%
		width: 0px
	100%
		width: 20px

.container
	max-width: 1920px
	margin: 0 auto 80px auto
	
.slider-container
	margin-bottom: 80px

.vertical-text-block
	display: flex
	align-items: flex-start
	&__vertical
		margin-right: 18px
		writing-mode: vertical-rl
		transform: rotate(180deg)

.svg-link
	text-decoration: none
	&:hover
		.white-arrow, .gray-arrow
			path
				transition: 0.3s
				fill: darken($accent, 30%)
