//for vars and mixin`s
html
    scroll-behavior: smooth
    box-sizing: border-box
*, *::after, *::before
    box-sizing: inherit

$accent: #4AF6CD
$white: #FFFFFF
$gray: rgba(255, 255, 255, 0.5)
$light-gray: rgba(255, 255, 255, 0.1)
$fontFira: 'FiraSans', sans-serif


body
    font-family: $fontFira
    background-color: #171919
    overflow-x: hidden
@keyframes road-animation
    100%
        stroke-dashoffset: 0

@keyframes width
    0%
        width: 0px
    100% 
        width: 20px

.container
    max-width: 1920px
    margin: 0 auto

.sldier-container
    width: 100%
    padding: 0  73px 0 0

.icon-plus
    &:hover
        .svg-calculator-icon
            path
                fill: lighten($accent, 20%)
    &:active
        .svg-calculator-icon
            path
                fill: darken($accent, 50%)
.icon-minus
    &:hover
        .svg-calculator-icon
            path
                fill: lighten($accent, 20%)
    &:active
        .svg-calculator-icon
            path
                fill: darken($accent, 50%)
.svg-calculator-icon
    pointer-events: none
    backface-visibility: hidden

//title-section
.title-80-800-white 
    font-family: $fontFira
    font-weight: 800
    font-size: 80px
    line-height: 86px
    text-transform: uppercase
    color: $white

//subtitle-strong
.title-40-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 40px
    line-height: 36px
    text-transform: uppercase
    color: $white
    line-height: 40px !important
    // span
    //     font-weight: 100
//subtitle-left
.subtitle-lineleft-22-400-gray
    font-family: $fontFira
    font-weight: 400
    font-size: 22px
    line-height: 32px
    letter-spacing: 7.33333px
    text-transform: uppercase
    color: $gray
    position: relative
    padding-left: 103px
    display: inline-block
    &::before
        position: absolute
        left: 0
        top: 50%
        content: ''
        width: 80px
        height: 1px
        background-color: rgba($white, 0.5)

//subtitle-right
.subtitle-lineright-22-400-gray
    font-family: $fontFira
    font-weight: 400
    font-size: 22px
    line-height: 32px
    letter-spacing: 7.33333px
    text-transform: uppercase
    color: $gray
    position: relative
    padding-right: 103px
    display: inline-block
    &::after
        position: absolute
        right: 0
        top: 50%
        content: ''
        width: 80px
        height: 1px
        background-color: rgba($white, 0.5)

.title-lineunder-80-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 80px
    line-height: 86px
    text-transform: uppercase
    color: $white
    &::before
        content: ''
        position: absolute
        width: 80px
        top: 0
        right: 0
        height: 1px
        background-color: $accent

//losung
.losung-200-800-lightgray
    font-family: $fontFira
    font-weight: 800
    font-size: 200px
    line-height: 156px
    text-transform: uppercase
    color: $light-gray

//logo-title   
.title-52-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 52px
    line-height: 86px
    text-transform: uppercase
    color: $white

.title-18-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 18px
    text-transform: uppercase
    color: $white
//date__day
.title-72-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 72px
    line-height: 64px
    text-transform: uppercase
    color: $white

//date__space/mounth/year
.subtitle-16-300-white
    font-family: $fontFira
    font-weight: 300
    font-size: 16px
    line-height: 19px
    letter-spacing: 1.4px
    color: $white

//navigation__item-name
.text-12-500-white
    font-family: $fontFira
    font-weight: 500
    font-size: 12px
    line-height: 14px
    letter-spacing: 3px
    text-transform: capitalize
    color: $white

.text-12-300-gray
    font-family: $fontFira
    font-weight: 300
    font-size: 12px
    line-height: 14px
    letter-spacing: 1.05px
    text-transform: uppercase
    color: $white
    opacity: 0.5

//header__slider-bullet-number
.title-24-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 24px
    // line-height: 34px
    color: $white
    text-transform: uppercase

.title-60-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 60px
    color: $white
    text-transform: uppercase

.title-28-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 28px
    color: $white
    text-transform: uppercase

//header__slider-bullet-name
.text-16-300-white
    font-family: $fontFira
    font-weight: 300
    font-size: 16px
    line-height: 19px
    text-transform: capitalize
    color: $white
//location
.text-12-300-white
    font-family: $fontFira
    font-weight: 300
    font-size: 12px
    line-height: 14px
    letter-spacing: 1.05px
    text-transform: capitalize
    color: $white

.text-18-300-white
    font-family: $fontFira
    font-weight: 400
    font-size: 18px
    letter-spacing: 8px
    line-height: 22px
    text-transform: uppercase
    color: $white

.text-32-800-white
    font-family: $fontFira
    font-weight: 800
    font-size: 32px
    // line-height: 40px
    text-transform: uppercase
    color: $white

.vertical-text-block
    display: flex
    align-items: flex-start
    &__vertical
        margin-right: 18px
        writing-mode: vertical-rl
        transform: rotate(180deg)
    &__gorizontal
        

.section-title-block-right
    display: flex
    flex-direction: column
    align-items: flex-end
    span.section-title-block-right--space
        font-weight: 100
    &__top-text
        margin-bottom: 15px

.section-title-block-left
    display: flex
    flex-direction: column
    align-items: flex-start
    span.section-title-block-left--space
        font-weight: 100
    &__top-text
        margin-bottom: 15px

.section-losung-block
    display: grid
    grid-template-columns: max-content
    &__bg-losung
        position: relative
    &__main-title
        position: absolute
        top: -20px
        right: -10px

.slider-arrows
    display: grid
    grid-template-columns: auto auto
    column-gap: 20px

.white-arrow
    z-index: 100
    fill: $white
    cursor: pointer
    outline: none
    border: none
    &:hover
        transition: 0.5s
        fill: $accent

.gray-arrow
    z-index: 100
    fill: $gray
    cursor: pointer
    outline: none
    border: none
    &:hover
        transition: 0.5s
        fill: $accent

.svg-link
    display: inline-flex
    height: min-content
    &:hover
        .white-arrow, .gray-arrow
            path
                transition: 0.3s
                fill: darken($accent, 30%) 

.aside
    z-index: 30
    position: fixed
    top: 0
    left: 0
    height: 100vh
    text-align: center
    
.active-aside-menu.aside
    height: 100%
    transition: 0.5s linear
    border-right-color: $gray
    background-color: rgba(black, 0.8)
    .aside__menu 
        right: 0 !important
        left: 0 !important
.logo-vertical
    position: relative
    height: 179px
    width: 168px
    background-color: $accent
    display: flex
    justify-content: center
    align-items: center
    &__static
        position: relative
        display: inline-block
        transform: rotate(270deg)
        &::before
            animation: width 0.5s forwards
    &__active
        pointer-events: none
        backface-visibility: hidden
        z-index: -10 
        transition: 0.5s
        position: absolute
        top: 0px
        transform: rotate(270deg)
    &:hover
        .logo-vertical__active
            top: 209px
        .logo-vertical__static
            &::before
                left: -22%
                top: 48%
                position: absolute
                content: ''
                height: 1px
                background-color: $white

.logo-gorizontal
    position: relative
    height: 80px
    padding: 0 17px
    background-color: $accent
    display: flex
    justify-content: space-around
    align-items: center
    &__static
        position: relative
        margin-right: 16px
        &::before
            animation: width 0.5s forwards
    &__active
        transition: 0.5s
        z-index: -10
        position: absolute
        bottom: 19px
        right: 2px
    &:hover
        .logo-gorizontal__active
            right: 200px
        .logo-gorizontal__static
            &::before
                left: -15%
                top: 50%
                position: absolute
                content: ''
                height: 1px
                background-color: $white

.location
    display: inline-block
    position: relative
    padding-left: 19px
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        background-image: url(../img/location.svg)
        width: 11px
        height: 14px

.aside
    border-right: 1px solid transparent
    display: grid
    justify-items: center
    grid-template-rows: 330px auto
    transition: 0.5s
    &:hover
        // transition: 0.5s linear
        // border-right-color: $gray
    &__logo
    &__menu
        transition: 0.5s
        position: absolute
        bottom: 0
        left: -200px
    &__event-date
        margin-bottom: 45px
        color: #fff

.event-date
    display: block
    &__day
    &__mounth-year
        margin-top: 6px
        display: flex
        justify-content: center
    &__space
        margin: 0 8px
        font-weight: 100
        // display: inline
    &__location
        margin-top: 32px
    &__hidden-line-date
        display: none
.navigation
    &__list
        text-align: center
    &__item
        margin-bottom: 37px
    &__link
        text-decoration: none
        display: flex
        flex-direction: column
        align-items: center
        &:hover
            background-color: rgba($accent, 0.3)
    &__item-img 
        margin-bottom: 6px
        width: fit-content
    &__item-name
        display: block



.extra-products 
    &__title
        margin-bottom: 35px
    &__products
        display: flex
        flex-direction: row
    &__item
        margin-bottom: 23px


.extra-item
    text-align: center
    margin-left: 57px 
    &__photo
        position: relative
        display: block
        height: 105px
        margin-bottom: 33px
        text-align: center
        display: flex
        justify-content: center
        align-items: center
        // width: 100%
        // margin-bottom: 35px
        // background-repeat: no-repeat
        // background-position: center
        // min-height: 108px
        // img
            // position: absolute
            // top: 50%
            // left: 50%
            // transform: translate(-50%,-50%)
            // max-height: 140px
            // max-width: 100%
            // vertical-align: center
    &__name 
        margin-bottom: 19px
        opacity: 0.5
    &__price 
    &:first-child
        margin-left: 0
        
